.Container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 24px;
}

.Title{
    font-size: 48px;
    font-weight: 300;
    color: #2C6CE1;
}

.Gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.Image{
    width:100%;
    height: auto;
}

@media only screen and (max-width: 640px) {
    .Title{
        font-size: 32px;
    }

    .Gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }
}